.active{
    background: rgb(24, 247, 180);
    padding: 8px 0;
    text-align: center;
    color: #000;
    font-size: 14px;
}
.Redstyle{ 
    background: rgba(0,0,0);
    padding: 8px 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
    border:1px solid rgba(253, 217, 9, 0.979)
}
.Greenstyle{ 
    background: rgba(253, 217, 9, 0.979);
    padding: 8px 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
    border:1px solid rgb(0,0,0)
}